body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #0056b3;
}

h1 {
  border-bottom: 2px solid #0056b3;
  padding-bottom: 10px;
}

h2 {
  margin-top: 30px;
}

ol {
  padding-left: 20px;
}

ol li {
  margin-bottom: 15px;
}

ol li strong {
  display: block;
  font-size: 1.1em;
  color: #333;
}

ol li p {
  margin: 5px 0 0 0;
}

p {
  margin-bottom: 20px;
}
